useDynLib(aftgee)
export(aftgee, smoothrr, prepX)
importFrom("MASS", ginv)	
# export(aftgee.est, aftgee.fit, prepX)
# export(huangFun, viClo, viEmp, aftgee.fit, smoothrr.fit, uilogFun, uiFun, zlFun, isFun, abarlogfun, abargehanfun, get_si, summary.aftgee, print.summary.aftgee)

S3method(print, aftgee)
S3method(summary, aftgee)
S3method(summary, smoothrr)
S3method(print, summary.aftgee)
S3method(print, summary.smoothrr)
# S3method(summary, smoothgehan)
# S3method(print, summary.smoothgehan)
