useDynLib(aftgee)
export(aftgee, aftsrr, aftgee.control)
importFrom("MASS", ginv)
importFrom("BB", BBsolve)
importFrom("survival", Surv, survfit, basehaz, coxph)
importFrom("geepack", geese, geese.fit)

## export(aftgee.est, aftgee.fit)

S3method(print, aftgee)
S3method(print, aftsrr)
S3method(summary, aftgee)
S3method(summary, aftsrr)
S3method(coef, aftsrr)
S3method(coef, aftgee)
S3method(residuals, aftsrr)
S3method(residuals, aftgee)
S3method(vcov, aftsrr)
S3method(vcov, aftgee)
S3method(predict, aftsrr)
S3method(predict, aftgee)
S3method(print, summary.aftgee)
S3method(print, summary.aftsrr)
