useDynLib(aftgee)
export(aftgee, smoothrr, aftgee.prepX, aftgee.control)
importFrom("MASS", ginv)	
importFrom("BB", BBsolve)
importFrom("survival", Surv, survfit)
importFrom("geepack", geese, geese.fit)

# export(aftgee.est, aftgee.fit, aftgee.prepX)
# export(huangFun, viClo, viEmp, aftgee.fit, smoothrr.fit, uilogFun, uiFun, zlFun, isFun, abarlogfun, abargehanfun, get_si, summary.aftgee, print.summary.aftgee, summary.smoothrr, get_vi)

S3method(print, aftgee)
S3method(summary, aftgee)
S3method(summary, smoothrr)
S3method(print, summary.aftgee)
S3method(print, summary.smoothrr)
# S3method(summary, smoothgehan)
# S3method(print, summary.smoothgehan)
